force-app/main/default/flows/CTRButtonReqItemSendToBI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigateBlockRec</name>
        <label>navigateBlockRec</label>
        <locationX>2734</locationX>
        <locationY>1190</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:CTRNavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>redirectRecord</name>
        <label>redirectRecord</label>
        <locationX>2822</locationX>
        <locationY>5324</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:CTRNavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCustomerEmailToCustomer</name>
        <label>sendCustomerEmailToCustomer</label>
        <locationX>99</locationX>
        <locationY>4796</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>redirectRecord</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>recipientCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getCustomerEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCustomerEmailToRelevant</name>
        <label>sendCustomerEmailToRelevant</label>
        <locationX>99</locationX>
        <locationY>4688</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sendCustomerEmailToCustomer</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>findCCUsers.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>findRelevantUsers.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getCustomerRelevantEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendShiptoEmailToCustomer</name>
        <label>sendShiptoEmailToCustomer</label>
        <locationX>3130</locationX>
        <locationY>2402</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>redirectRecord</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>customerCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>customerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getShiptoCustomerEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendShiptoEmailToRelevant</name>
        <label>sendShiptoEmailToRelevant</label>
        <locationX>3130</locationX>
        <locationY>2294</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sendShiptoEmailToCustomer</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>recipientCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getShiptoRelevantEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierEmailToRelevant</name>
        <label>sendSupplierEmailToRelevant</label>
        <locationX>363</locationX>
        <locationY>4688</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sendSupplierEmailToSupplier</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>findCCUsers.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>findRelevantUsers.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getSupplierRelevantEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierEmailToSupplier</name>
        <label>sendSupplierEmailToSupplier</label>
        <locationX>363</locationX>
        <locationY>4796</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>redirectRecord</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>recipientCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getSupplierEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignAdditional</name>
        <label>assignAdditional</label>
        <locationX>616</locationX>
        <locationY>3284</locationY>
        <assignmentItems>
            <assignToReference>recAdditional.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAdditional.CustomerType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CustomerType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAdditional.CustomerGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CustomerGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAdditional.InterGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.InterGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAdditional.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAdditional.SubIndustry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.SubIndustry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAdditional.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAdditional.Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlKeyAddInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newAdditional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignConfig</name>
        <label>assignConfig</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>customerRunning</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getConfig.NonSAPCustomerRunningNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierRunning</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getConfig.NonSAPSupplierRunningNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenConfirmBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCountPurchasing</name>
        <label>assignCountPurchasing</label>
        <locationX>1194</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>countPurchasing</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getPurchasingRecs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCountSalesArea</name>
        <label>assignCountSalesArea</label>
        <locationX>1194</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>countSalesArea</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getSalesAreaRecs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPurchasingRecs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreateShipto</name>
        <label>assignCreateShipto</label>
        <locationX>3130</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>recAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerPartner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.AccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlShipToNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameLocal1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameLocal1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameLocal2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameLocal2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameEN1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameEN1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameEN2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameEN2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.AccountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZSHP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TransportationZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TransportationZone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TaxCode1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TaxCode1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BuildingCodeEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingBuildingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RoomEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingRoom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FloorEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingFloor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.HousenoEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingHousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StreetEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.StreetEN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SubDistrictEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingSubDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.DistrictEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.DistrictENText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.ProvinceEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CityStateEN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PostalCodeENText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BuildingCodeLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.BuildingCodeLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FloorLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FloorLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.HousenoLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.HousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StreetLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.StreetLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SubDistrictLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.SubDistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.DistrictLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.DistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CityStateLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CityStateLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PostalCodeLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PostalCodeLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Fax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FaxCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FaxCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FaxExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FaxExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PhoneCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PhoneCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PhoneExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PhoneExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.MobileCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MobileCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TimeZone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.LocationInGoogleMapsLinks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.LocationInGoogleMapsLinks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.LocationInGoogleMapsGeolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.LocationInGoogleMapsGeolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getShiptoRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StatusDeletionIndicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createShipto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCustomer</name>
        <label>assignCustomer</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>recAccount.NonSAPCustomerCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCustomerNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.ImmidiateParentCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.ImmidiateParentCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerSearchTermEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerSearchTermEN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerSearchTermLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerSearchTermLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RegionSAP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.RegionSAP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameLocal1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameLocal1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameLocal2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameLocal2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameEN1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameEN1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameEN2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameEN2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CompanyWebsite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BuildingCodeEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.BuildingCodeLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RoomEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.RoomLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FloorEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FloorLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.HousenoEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.HousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StreetEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.StreetEN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SubDistrictENText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Street2EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.DistrictENText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.DistrictENText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CityStateLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CityStateLocal__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PostalCodeENText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PostalCodeLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BuildingCodeLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.BuildingCodeLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RoomLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.RoomLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FloorLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FloorLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.HousenoLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.HousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StreetLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.StreetLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SubDistrictLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Street2Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.DistrictLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.DistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CityStateLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CityStateLocal__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PostalCodeLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PostalCodeLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CountryText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Country__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TimeZone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PhoneExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PhoneExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Fax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FaxExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FaxExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TaxCode1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TaxCode1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.AccountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.AccountGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StatusDeletionIndicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerRunning</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCustomerBlock</name>
        <label>assignCustomerBlock</label>
        <locationX>2602</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recSalesArea.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSalesArea.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.BlockStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.OrderBlock__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCustomerBlock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCustomerEmails</name>
        <label>assignCustomerEmails</label>
        <locationX>99</locationX>
        <locationY>4580</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestItem.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendCustomerEmailToRelevant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCustomerFinancial</name>
        <label>assignCustomerFinancial</label>
        <locationX>616</locationX>
        <locationY>3068</locationY>
        <assignmentItems>
            <assignToReference>recFinancial.CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFinancial.CreditLimit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CreditLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFinancial.Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlCustomerFinancialKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newCustomerFinance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEditShipto</name>
        <label>assignEditShipto</label>
        <locationX>3922</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameLocal1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameLocal1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameLocal2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameLocal2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameEN1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameEN1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameEN2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameEN2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TransportationZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TransportationZone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TaxCode1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TaxCode1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BuildingCodeEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingBuildingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RoomEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingRoom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FloorEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingFloor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.HousenoEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingHousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StreetEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.StreetEN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SubDistrictEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingSubDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.DistrictEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.DistrictENText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.ProvinceEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CityStateEN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PostalCodeENText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MailingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BuildingCodeLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.BuildingCodeLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FloorLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FloorLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.HousenoLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.HousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StreetLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.StreetLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SubDistrictLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.SubDistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.DistrictLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.DistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CityStateLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CityStateLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PostalCodeLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PostalCodeLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Fax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FaxCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FaxCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FaxExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FaxExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PhoneCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PhoneCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PhoneExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PhoneExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.MobileCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MobileCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TimeZone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.LocationInGoogleMapsLinks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.LocationInGoogleMapsLinks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.LocationInGoogleMapsGeolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.LocationInGoogleMapsGeolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateShipto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewShiptoEmails</name>
        <label>assignNewShiptoEmails</label>
        <locationX>3130</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestItem.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestItem.MDCName__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestItem.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestItem.MDCName__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendShiptoEmailToRelevant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPartner</name>
        <label>assignPartner</label>
        <locationX>3130</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>recWE.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWE.Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlWEkey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWE.RelationshipType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWE.ReverseAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWERE.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWERE.Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlWEREkey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWERE.ReverseAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWERE.RelationshipType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WE-RE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createWEPartnerFunc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPurchasingView</name>
        <label>assignPurchasingView</label>
        <locationX>754</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>recPurchasing.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.PurchasingOrg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.PurchasingOrganizationTX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.PurchasingOrganizationTX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.PurchasingOrganizationTX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.TermofPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.TermOfPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlKeyPurchasing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.Incoterms2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Incoterms2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newPurchasing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSalesArea</name>
        <label>assignSalesArea</label>
        <locationX>616</locationX>
        <locationY>2852</locationY>
        <assignmentItems>
            <assignToReference>recSalesArea.AccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.SalesOrganization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.SalesOrganizationTX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.DistributionChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.DistributionChannel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.SalesDistrict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.SalesDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.TermofPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.TermOfPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.SalesGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.SalesGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.SalesOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.SalesOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.ShippingCondition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.ShippingConditions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.PricingProcedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CustPriceProc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.PriceGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.PriceGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.ExchangeRateType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.ExchangeRateType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.CustomerPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.PaymentGuaranteeProcedure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.CreditControlArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CreditControlArea__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.AccountAssignmentGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.AccountAssignmentGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlKeySalesArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.Incoterms2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Incoterms2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.Division__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newSalesArea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignShiptoConfig</name>
        <label>assignShiptoConfig</label>
        <locationX>3394</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>shiptoRunning</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getConfig.NonSAPShipToRunningNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getShiptoRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSupplier</name>
        <label>assignSupplier</label>
        <locationX>1150</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>recAccount.NonSAPSupplierCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlSupplierNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SupplierSearchTermEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.SupplierSearchTermEN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SupplierSearchTermLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.SupplierSearchTermLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RegionSAP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.RegionSAP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameLocal1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameLocal1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameLocal2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameLocal2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameEN1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameEN1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CustomerNameEN2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CustomerNameEN2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BuildingCodeEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.BuildingCodeLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RoomEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.RoomLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FloorEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FloorLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.HousenoEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.HousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StreetEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.StreetEN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SubDistrictENText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Street2EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.DistrictENText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.DistrictENText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CityStateLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CityStateLocal__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PostalCodeENText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PostalCodeLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.BuildingCodeLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.BuildingCodeLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RoomLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.RoomLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FloorLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FloorLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.HousenoLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.HousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StreetLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.StreetLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.SubDistrictLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Street2Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.DistrictLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.DistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CityStateLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CityStateLocal__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PostalCodeLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PostalCodeLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.CountryText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Country__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TimeZone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.PhoneExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.PhoneExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Fax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.FaxExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.FaxExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.TaxCode1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.TaxCode1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.AccountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.AccountGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.StatusDeletionIndicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierRunning</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSupplierBlock</name>
        <label>assignSupplierBlock</label>
        <locationX>2866</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recPurchasing.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSalesArea.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.BlockStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.SelectedPurchasingOrg__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSupplierBlock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSupplierEmails</name>
        <label>assignSupplierEmails</label>
        <locationX>363</locationX>
        <locationY>4580</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRequestItem.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendSupplierEmailToRelevant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSupplierFinancial</name>
        <label>assignSupplierFinancial</label>
        <locationX>754</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>recFinancial.CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFinancial.ReconAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.ReconAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFinancial.CashManagementGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestItem.CashManagementGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFinancial.Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlSupplierFinancialKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newSupplierFinance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countExistingShipto</name>
        <label>countExistingShipto</label>
        <locationX>3394</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>numExistingShipto</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getExistingShipto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkExistingShipto</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAccountType</name>
        <label>checkAccountType</label>
        <locationX>231</locationX>
        <locationY>4256</locationY>
        <defaultConnector>
            <targetReference>getSupplierRelevantEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supplier</defaultConnectorLabel>
        <rules>
            <name>typeCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCustomerRelevantEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBlockType</name>
        <label>checkBlockType</label>
        <locationX>2734</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>getPurchasingView</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supplier</defaultConnectorLabel>
        <rules>
            <name>typeCustomerBlock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSalesArea</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCCUsers</name>
        <label>checkCCUsers</label>
        <locationX>429</locationX>
        <locationY>4148</locationY>
        <defaultConnector>
            <targetReference>redirectRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Users</defaultConnectorLabel>
        <rules>
            <name>typeFoundCCUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findCCUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findCCUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkAccountType</targetReference>
            </connector>
            <label>Found Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCustomer</name>
        <label>checkCustomer</label>
        <locationX>1194</locationX>
        <locationY>2744</locationY>
        <defaultConnectorLabel>ExistingCustomer</defaultConnectorLabel>
        <rules>
            <name>NoExistingCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countSalesArea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSalesArea</targetReference>
            </connector>
            <label>NoExistingCustomer</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkExistingShipto</name>
        <label>checkExistingShipto</label>
        <locationX>3394</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>screenFailNewShipto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existed</defaultConnectorLabel>
        <rules>
            <name>existedShipto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numExistingShipto</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreateShipto</targetReference>
            </connector>
            <label>Ship-to Existed</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecordType</name>
        <label>checkRecordType</label>
        <locationX>2822</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>typeInitialExtend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignConfig</targetReference>
            </connector>
            <label>Initial &amp; Extend</label>
        </rules>
        <rules>
            <name>typeBlock</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerBlock</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenConfirmResubmit</targetReference>
            </connector>
            <label>Block</label>
        </rules>
        <rules>
            <name>typeCreateShipto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToCreate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignShiptoConfig</targetReference>
            </connector>
            <label>Create Ship-to</label>
        </rules>
        <rules>
            <name>typeEditShipto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToEdit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenConfirmEditShipto</targetReference>
            </connector>
            <label>Edit Ship-to</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRelevantUsers</name>
        <label>checkRelevantUsers</label>
        <locationX>616</locationX>
        <locationY>3824</locationY>
        <defaultConnector>
            <targetReference>redirectRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Users</defaultConnectorLabel>
        <rules>
            <name>typeFoundUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findRelevantUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findRelevantUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCCUsers</targetReference>
            </connector>
            <label>Found Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSupplier</name>
        <label>checkSupplier</label>
        <locationX>1150</locationX>
        <locationY>1754</locationY>
        <defaultConnectorLabel>ExistingPurchasing</defaultConnectorLabel>
        <rules>
            <name>NoExistingPurchasing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countPurchasing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPurchasingView</targetReference>
            </connector>
            <label>NoExistingPurchasing</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkType</name>
        <label>checkType</label>
        <locationX>1194</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>screenFail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>typeNewCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCustomer</targetReference>
            </connector>
            <label>typeNewCustomer</label>
        </rules>
        <rules>
            <name>typeExtendCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCustomer</targetReference>
            </connector>
            <label>typeExtendCustomer</label>
        </rules>
        <rules>
            <name>typeNewSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSupplier</targetReference>
            </connector>
            <label>typeNewSupplier</label>
        </rules>
        <rules>
            <name>typeExtendSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>checkSupplier</targetReference>
            </connector>
            <label>typeExtendSupplier</label>
        </rules>
    </decisions>
    <description>[21 Apr 2024] Add create and edit ship-to flows</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlCustomerFinancialKey</name>
        <dataType>String</dataType>
        <expression>{!recAccount.NonSAPCustomerCode__c}&amp;TEXT({!getRequestItem.SalesOrganizationTX__c})&amp;TEXT({!getRequestItem.CreditControlArea__c})</expression>
    </formulas>
    <formulas>
        <name>fmlCustomerNumber</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!getRequestItem.RecordType.DeveloperName}, &quot;Customer&quot;), &quot;C&quot;, &quot;&quot;)
&amp;
IF(TEXT({!getRequestItem.CTRRequestFormHeader__r.AccountGroup__c}) = &quot;TRDL&quot;, &quot;1&quot;,
IF(TEXT({!getRequestItem.CTRRequestFormHeader__r.AccountGroup__c}) = &quot;TRDF&quot;, &quot;2&quot;,
IF(TEXT({!getRequestItem.CTRRequestFormHeader__r.AccountGroup__c}) = &quot;TOPG&quot;, &quot;3&quot;, &quot;&quot;)))
&amp;
IF({!getRequestItem.CTRRequestFormHeader__r.Country__r.Code__c} = &quot;ID&quot;, &quot;ID&quot;,
IF({!getRequestItem.CTRRequestFormHeader__r.Country__r.Code__c} = &quot;SG&quot;, &quot;SG&quot;,
IF({!getRequestItem.CTRRequestFormHeader__r.Country__r.Code__c} = &quot;IN&quot;, &quot;IN&quot;, &quot;&quot;)))
&amp;
LPAD(TEXT({!customerRunning}), 5, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlKeyAddInfo</name>
        <dataType>String</dataType>
        <expression>{!recAccount.NonSAPCustomerCode__c}&amp;TEXT({!getRequestItem.SalesOrganizationTX__c})&amp;TEXT({!getRequestItem.DistributionChannel__c})</expression>
    </formulas>
    <formulas>
        <name>fmlKeyPurchasing</name>
        <dataType>String</dataType>
        <expression>{!recAccount.NonSAPSupplierCode__c}&amp;TEXT({!getRequestItem.CompanyCodeTX__c})</expression>
    </formulas>
    <formulas>
        <name>fmlKeySalesArea</name>
        <dataType>String</dataType>
        <expression>{!recAccount.NonSAPCustomerCode__c}&amp;TEXT({!getRequestItem.SalesOrganizationTX__c})&amp;TEXT({!getRequestItem.DistributionChannel__c})&amp;TEXT({!getRequestItem.Division__c})</expression>
    </formulas>
    <formulas>
        <name>fmlShipToNumber</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!getRequestItem.RecordType.DeveloperName}, &quot;ShipTo&quot;), &quot;6&quot;, &quot;&quot;)
&amp;
LPAD(TEXT({!shiptoRunning}), 5, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlSupplierFinancialKey</name>
        <dataType>String</dataType>
        <expression>{!recAccount.NonSAPSupplierCode__c}&amp;TEXT({!getRequestItem.CompanyCodeTX__c})&amp;TEXT({!getRequestItem.CreditControlArea__c})</expression>
    </formulas>
    <formulas>
        <name>fmlSupplierNumber</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!getRequestItem.RecordType.DeveloperName}, &quot;Supplier&quot;), &quot;S&quot;, &quot;&quot;)
&amp;
IF(TEXT({!getRequestItem.CTRRequestFormHeader__r.AccountGroup__c}) = &quot;TRDL&quot;, &quot;1&quot;,
IF(TEXT({!getRequestItem.CTRRequestFormHeader__r.AccountGroup__c}) = &quot;TRDF&quot;, &quot;2&quot;,
IF(TEXT({!getRequestItem.CTRRequestFormHeader__r.AccountGroup__c}) = &quot;TOPG&quot;, &quot;3&quot;, &quot;&quot;)))
&amp;
IF({!getRequestItem.CTRRequestFormHeader__r.Country__r.Code__c} = &quot;ID&quot;, &quot;ID&quot;,
IF({!getRequestItem.CTRRequestFormHeader__r.Country__r.Code__c} = &quot;SG&quot;, &quot;SG&quot;,
IF({!getRequestItem.CTRRequestFormHeader__r.Country__r.Code__c} = &quot;IN&quot;, &quot;IN&quot;, &quot;&quot;)))
&amp;
LPAD(TEXT({!supplierRunning}), 5, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlWEkey</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!getRequestItem.Customer__r.AccountNumber__c})), {!getRequestItem.Customer__r.AccountNumber__c}, {!getRequestItem.Customer__r.NonSAPCustomerCode__c})
&amp;
&apos;WE&apos;
&amp;
{!recAccount.AccountNumber__c}</expression>
    </formulas>
    <formulas>
        <name>fmlWEREkey</name>
        <dataType>String</dataType>
        <expression>{!recAccount.AccountNumber__c}
&amp;
&apos;WE-RE&apos;
&amp;
IF(NOT(ISBLANK({!getRequestItem.Customer__r.AccountNumber__c})), {!getRequestItem.Customer__r.AccountNumber__c}, {!getRequestItem.Customer__r.NonSAPCustomerCode__c})</expression>
    </formulas>
    <interviewLabel>CTRButtonReqItemSendToBI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRButtonReqItemSendToBI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createShipto</name>
        <label>createShipto</label>
        <locationX>3130</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>updateCreateReq</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFailCreateShipto</targetReference>
        </faultConnector>
        <inputReference>recAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createWEPartnerFunc</name>
        <label>createWEPartnerFunc</label>
        <locationX>3130</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>createWEREPartnerFunc</targetReference>
        </connector>
        <inputReference>recWE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createWEREPartnerFunc</name>
        <label>createWEREPartnerFunc</label>
        <locationX>3130</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>updateShiptoConfig</targetReference>
        </connector>
        <inputReference>recWERE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>newAdditional</name>
        <label>newAdditional</label>
        <locationX>616</locationX>
        <locationY>3392</locationY>
        <connector>
            <targetReference>screenNewCustomer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFailNewAdditional</targetReference>
        </faultConnector>
        <inputReference>recAdditional</inputReference>
    </recordCreates>
    <recordCreates>
        <name>newCustomerFinance</name>
        <label>newCustomerFinance</label>
        <locationX>616</locationX>
        <locationY>3176</locationY>
        <connector>
            <targetReference>assignAdditional</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFailNewCustomerFinance</targetReference>
        </faultConnector>
        <inputReference>recFinancial</inputReference>
    </recordCreates>
    <recordCreates>
        <name>newPurchasing</name>
        <label>newPurchasing</label>
        <locationX>754</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>assignSupplierFinancial</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFailNewPurchasing</targetReference>
        </faultConnector>
        <inputReference>recPurchasing</inputReference>
    </recordCreates>
    <recordCreates>
        <name>newSalesArea</name>
        <label>newSalesArea</label>
        <locationX>616</locationX>
        <locationY>2960</locationY>
        <connector>
            <targetReference>assignCustomerFinancial</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFailNewSalesArea</targetReference>
        </faultConnector>
        <inputReference>recSalesArea</inputReference>
    </recordCreates>
    <recordCreates>
        <name>newSupplierFinance</name>
        <label>newSupplierFinance</label>
        <locationX>754</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>screenNewSupplier</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFailNewSupplierFinance</targetReference>
        </faultConnector>
        <inputReference>recFinancial</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCCUsers</name>
        <label>getCCUsers</label>
        <locationX>429</locationX>
        <locationY>3932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findCCUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformRelatedCC</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getConfig</name>
        <label>getConfig</label>
        <locationX>2822</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NonSAPCustomerRunningNumber__c</queriedFields>
        <queriedFields>NonSAPSupplierRunningNumber__c</queriedFields>
        <queriedFields>NonSAPShipToRunningNumber__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomerEmail</name>
        <label>getCustomerEmail</label>
        <locationX>99</locationX>
        <locationY>4472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCustomerEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialCustomerGotNonSAPCodeToCustomer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomerRelevantEmail</name>
        <label>getCustomerRelevantEmail</label>
        <locationX>99</locationX>
        <locationY>4364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomerEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialCustomerGotNonSAPCodeToRelevant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExistingShipto</name>
        <label>getExistingShipto</label>
        <locationX>3394</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countExistingShipto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getShiptoRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPurchasingRecs</name>
        <label>getPurchasingRecs</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCountPurchasing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRPurchasingView__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPurchasingView</name>
        <label>getPurchasingView</label>
        <locationX>2866</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignSupplierBlock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PurchasingOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.PurchasingOrganizationTX__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRPurchasingView__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordType</name>
        <label>getRecordType</label>
        <locationX>1194</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSalesAreaRecs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SoldTo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelevantUsers</name>
        <label>getRelevantUsers</label>
        <locationX>616</locationX>
        <locationY>3608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findRelevantUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformRelated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequestItem</name>
        <label>getRequestItem</label>
        <locationX>2822</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getConfig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSalesArea</name>
        <label>getSalesArea</label>
        <locationX>2602</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCustomerBlock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.SalesOrganization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DistributionChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.DistributionChannel__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.Division__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>C360_SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSalesAreaRecs</name>
        <label>getSalesAreaRecs</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCountSalesArea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>C360_SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getShiptoCustomerEmail</name>
        <label>getShiptoCustomerEmail</label>
        <locationX>3130</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignNewShiptoEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRCreateShiptoGotNonSAPCodeToCustomer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getShiptoRecordType</name>
        <label>getShiptoRecordType</label>
        <locationX>3394</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenConfirmShipto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ShipTo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getShiptoRelevantEmail</name>
        <label>getShiptoRelevantEmail</label>
        <locationX>3130</locationX>
        <locationY>1970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getShiptoCustomerEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRCreateShipToGotSAPCodeToRelevant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSupplierEmail</name>
        <label>getSupplierEmail</label>
        <locationX>363</locationX>
        <locationY>4472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignSupplierEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialSupplierGotNonSAPCodeToSupplier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSupplierRelevantEmail</name>
        <label>getSupplierRelevantEmail</label>
        <locationX>363</locationX>
        <locationY>4364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSupplierEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialSupplierGotNonSAPCodeToRelevant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateConfigCustomer</name>
        <label>updateConfigCustomer</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>updateCustomerRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NonSAPCustomerRunningNumber__c</field>
            <value>
                <elementReference>customerRunning</elementReference>
            </value>
        </inputAssignments>
        <object>CTRConfig__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateConfigSupplier</name>
        <label>updateConfigSupplier</label>
        <locationX>1150</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>updateSupplierRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NonSAPSupplierRunningNumber__c</field>
            <value>
                <elementReference>supplierRunning</elementReference>
            </value>
        </inputAssignments>
        <object>CTRConfig__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCreateReq</name>
        <label>updateCreateReq</label>
        <locationX>3130</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>assignPartner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCustomer</name>
        <label>updateCustomer</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>updateConfigCustomer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFailNewCustomer</targetReference>
        </faultConnector>
        <inputReference>recAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCustomerBlock</name>
        <label>updateCustomerBlock</label>
        <locationX>2602</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>screenResubmitCompleted</targetReference>
        </connector>
        <inputReference>recSalesArea</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCustomerRec</name>
        <label>updateCustomerRec</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>checkCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NonSAPCustomerCode__c</field>
            <value>
                <elementReference>recAccount.NonSAPCustomerCode__c</elementReference>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateShipto</name>
        <label>updateShipto</label>
        <locationX>3922</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>screenEditShiptoCompleted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFailEditShipto</targetReference>
        </faultConnector>
        <inputReference>recAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateShiptoConfig</name>
        <label>updateShiptoConfig</label>
        <locationX>3130</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>screenNewShipto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NonSAPShipToRunningNumber__c</field>
            <value>
                <elementReference>shiptoRunning</elementReference>
            </value>
        </inputAssignments>
        <object>CTRConfig__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateSupplier</name>
        <label>updateSupplier</label>
        <locationX>1150</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>updateConfigSupplier</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFailNewSupplier</targetReference>
        </faultConnector>
        <inputReference>recAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSupplierBlock</name>
        <label>updateSupplierBlock</label>
        <locationX>2866</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>screenResubmitCompleted</targetReference>
        </connector>
        <inputReference>recPurchasing</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSupplierRec</name>
        <label>updateSupplierRec</label>
        <locationX>1150</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>checkSupplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NonSAPSupplierCode__c</field>
            <value>
                <elementReference>recAccount.NonSAPSupplierCode__c</elementReference>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screenConfirmBI</name>
        <label>screenConfirmBI</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getRecordType</targetReference>
        </connector>
        <fields>
            <name>txtConfirmBI</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Do you confirm to send information to SAP BI?&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;(Click &apos;&lt;/em&gt;&lt;em style=&quot;font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;X&lt;/em&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;&apos; on the top-right to cancel)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenConfirmEditShipto</name>
        <label>screenConfirmEditShipto</label>
        <locationX>3922</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignEditShipto</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_txtConfirmShipto</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Do you confirm to send information to SAP BI?&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;(Click &apos;&lt;/em&gt;&lt;em style=&quot;font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;X&lt;/em&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;&apos; on the top-right to cancel)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenConfirmResubmit</name>
        <label>screenConfirmResubmit</label>
        <locationX>2734</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkBlockType</targetReference>
        </connector>
        <fields>
            <name>txtConfirmResubmit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Do you confirm to send information to SAP BI?&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;(Click &apos;&lt;/em&gt;&lt;em style=&quot;font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;X&lt;/em&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;&apos; on the top-right to cancel)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenConfirmShipto</name>
        <label>screenConfirmShipto</label>
        <locationX>3394</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getExistingShipto</targetReference>
        </connector>
        <fields>
            <name>txtConfirmShipto</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Do you confirm to send information to SAP BI?&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;(Click &apos;&lt;/em&gt;&lt;em style=&quot;font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;X&lt;/em&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;&apos; on the top-right to cancel)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenEditShiptoCompleted</name>
        <label>screenEditShiptoCompleted</label>
        <locationX>3922</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>redirectRecord</targetReference>
        </connector>
        <fields>
            <name>txtEditShiptoCompleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Information for ship-to &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; updated completely.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFail</name>
        <label>screenFail</label>
        <locationX>2338</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFail</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You are unable to create a new customer/supplier.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please contact the administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailCreateShipto</name>
        <label>screenFailCreateShipto</label>
        <locationX>3394</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_txtFailNewCustomer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;New ship-to &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;creation &lt;/span&gt;failed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailEditShipto</name>
        <label>screenFailEditShipto</label>
        <locationX>4186</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFailEditShipto</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Ship-to &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; modification&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;failed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailNewAdditional</name>
        <label>screenFailNewAdditional</label>
        <locationX>979</locationX>
        <locationY>3500</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFailNewAdditional</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Additional information for the new &lt;/span&gt; customer &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;creation &lt;/span&gt;failed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailNewCustomer</name>
        <label>screenFailNewCustomer</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFailNewCustomer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;New customer &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;creation &lt;/span&gt;failed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailNewCustomerFinance</name>
        <label>screenFailNewCustomerFinance</label>
        <locationX>1243</locationX>
        <locationY>3284</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFailNewCustomerFinance</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Financial information for the new &lt;/span&gt;customer &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;creation&lt;/span&gt; failed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailNewPurchasing</name>
        <label>screenFailNewPurchasing</label>
        <locationX>1282</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFailNewPurchasing</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purchasing information for the new&lt;/span&gt; supplier &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;creation &lt;/span&gt;failed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailNewSalesArea</name>
        <label>screenFailNewSalesArea</label>
        <locationX>1507</locationX>
        <locationY>3068</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFailNewSalesArea</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Sales information for the new customer &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;creation &lt;/span&gt;failed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailNewShipto</name>
        <label>screenFailNewShipto</label>
        <locationX>3658</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFailNewShipto</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;New ship-to &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;creation &lt;/span&gt;failed, because it&apos;s already existed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailNewSupplier</name>
        <label>screenFailNewSupplier</label>
        <locationX>1810</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFailNewSupplier</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;New supplier &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;creation &lt;/span&gt;failed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFailNewSupplierFinance</name>
        <label>screenFailNewSupplierFinance</label>
        <locationX>1018</locationX>
        <locationY>2294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_txtConfirmBI</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Financial information for the new &lt;/span&gt;supplier &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;creation &lt;/span&gt;failed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please recheck your information and submit again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNewCustomer</name>
        <label>screenNewCustomer</label>
        <locationX>616</locationX>
        <locationY>3500</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getRelevantUsers</targetReference>
        </connector>
        <fields>
            <name>txtNewCustomerCompleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;New customer &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; creation completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNewShipto</name>
        <label>screenNewShipto</label>
        <locationX>3130</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getShiptoRelevantEmail</targetReference>
        </connector>
        <fields>
            <name>txtNewShiptoCompleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;New ship-to &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; creation completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNewSupplier</name>
        <label>screenNewSupplier</label>
        <locationX>754</locationX>
        <locationY>2294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getRelevantUsers</targetReference>
        </connector>
        <fields>
            <name>txtNewSupplierCompleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;New supplier &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; creation completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenResubmitCompleted</name>
        <label>screenResubmitCompleted</label>
        <locationX>2734</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigateBlockRec</targetReference>
        </connector>
        <fields>
            <name>txtResubmitCompleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Block status for {!getRequestItem.fmlAccountTypeName__c} &apos;{!getRequestItem.CTRRequestFormHeader__r.CompanyNameENF__c}&apos; updated completely.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2696</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequestItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>findCCUsers</name>
        <label>findCCUsers</label>
        <locationX>429</locationX>
        <locationY>4040</locationY>
        <connector>
            <targetReference>checkCCUsers</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCCUsers</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findRelevantUsers</name>
        <label>findRelevantUsers</label>
        <locationX>616</locationX>
        <locationY>3716</locationY>
        <connector>
            <targetReference>checkRelevantUsers</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getRelevantUsers</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>countPurchasing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countSalesArea</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>customerCCEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerRunning</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numExistingShipto</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recAdditional</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRAdditionalInfo__c</objectType>
    </variables>
    <variables>
        <name>recFinancial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C360_FinancialInfo__c</objectType>
    </variables>
    <variables>
        <name>recipientCCEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recPurchasing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRPurchasingView__c</objectType>
    </variables>
    <variables>
        <name>recSalesArea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C360_SalesArea__c</objectType>
    </variables>
    <variables>
        <name>recWE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C360_Relationship__c</objectType>
    </variables>
    <variables>
        <name>recWERE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C360_Relationship__c</objectType>
    </variables>
    <variables>
        <name>shiptoRunning</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>supplierRunning</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
