force-app/main/default/flows/CTRShiptoRecordScreenDetail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignFunctionPartnerAccount</name>
        <label>AssignFunctionPartnerAccount</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varAccountSoldToName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPartnerFunctionRelated.ReverseAccount__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountSoldToOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!getPartnerFunctionRelated.ReverseAccount__r.Owner.FirstName} {!getPartnerFunctionRelated.ReverseAccount__r.Owner.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createShipToDetailScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getPartnername</name>
        <label>getPartnername</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varAccountSoldToName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestItemRecord.Customer__r.CustomerPartner__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountSoldToOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!GetRequestItemRecord.Customer__r.CustomerPartner__r.Owner.FirstName} {!GetRequestItemRecord.Customer__r.CustomerPartner__r.Owner.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createShipToDetailScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getPartnername_0</name>
        <label>getPartnername</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varAccountSoldToName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestItemRecord.Customer__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountSoldToOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!GetRequestItemRecord.Customer__r.Owner.FirstName} {!GetRequestItemRecord.Customer__r.Owner.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createShipToDetailScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRecordTypeAccount</name>
        <label>CheckRecordTypeAccount</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>getPartnername_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isShipTo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.Customer__r.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ShipTo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPartnerFunctionRelated</targetReference>
            </connector>
            <label>isShipTo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Function_Partner</name>
        <label>Found Function Partner</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>getPartnername</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPartnerFunctionRelated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFunctionPartnerAccount</targetReference>
            </connector>
            <label>found partner</label>
        </rules>
    </decisions>
    <description>Change get value from account to from CTR header</description>
    <environments>Default</environments>
    <interviewLabel>CTR Prescreen ResultV02 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTR Ship-to Record Screen Detail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getPartnerFunctionRelated</name>
        <label>getPartnerFunctionRelated</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Function_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationshipType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WE-RE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>C360_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequestHeader</name>
        <label>getRequestHeader</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecordTypeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.CTRRequestFormHeader__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormHeader__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequestItemRecord</name>
        <label>GetRequestItem</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRequestHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>createShipToDetailScreen</name>
        <label>createShipToDetailScreen</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShipToInformationSection</name>
            <fieldText>Ship-To Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShipToInformationSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompanyNameDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Company Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varAccountSoldToName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShipToNameEnglishDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Ship-To Name (English)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!getRequestHeader.CompanyNameENF__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShipToInformationSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountOwnerDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Owner&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varAccountSoldToOwner}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShipToNameOtherLanguageDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Ship-To Name (Other Language)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.CompanyNameLocal__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SelectedSalesAreaSection</name>
            <fieldText>Selected SalesArea</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectedSalesAreaSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SellerDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Seller&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;{!GetRequestItemRecord.SalesOrganizationTX__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DivisionDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Division&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestItemRecord.Division__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectedSalesAreaSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DistributionChannelDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Distribution Channel&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestItemRecord.DistributionChannel__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TAXNumberDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;TAX Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.TaxCode1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SearchTermsSection</name>
            <fieldText>Search Terms</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SearchTermsSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SearchTerm1DisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Search Term 1&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.CustomerSearchTermLocal__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SearchTermsSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SearchTerm2English</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Search Term 2 (English)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.CustomerSearchTermEN__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>RegisteredAddressSection</name>
            <fieldText>Registered Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RegisteredAddressSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BuildingCodeDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Building Code&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.BuildingCodeLocal__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FloorDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Floor&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.FloorLocal__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HouseNumberDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;House No. (Local)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.HousenoLocal__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DistrictDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;District&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.DistrictLocalText__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CountryDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Country&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.Country__r.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LocationInGoogleMapsLinkDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Location in Google Maps (Link)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.LocationInGoogleMapsLinks__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LocationInGoogleMapsLatitudeLongitudeDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Location in Google Maps (Latitude,Longitude)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.LocationInGoogleMapsGeolocation__Latitude__s},&lt;/p&gt;&lt;p&gt;{!getRequestHeader.LocationInGoogleMapsGeolocation__Longitude__s}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RegisteredAddressSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RoomDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Room&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.RoomLocal__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CODisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;C/O&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.CoName__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>StreetDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Street&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.StreetLocal__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CityStateDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;City/State&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.CityStateLocal__r.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PostalCodeDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Postal Code&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.PostalCodeLocalText__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SalesSection</name>
            <fieldText>Sales</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SalesSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesDistrictDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Sales District&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!GetRequestItemRecord.SalesDistrict__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SalesSection_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ShippingSection</name>
            <fieldText>Shipping</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShippingSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DeliveryPriorityDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Delivery Priority&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!GetRequestItemRecord.DeliveryPriority__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DeliveryPlantDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Delivery Plant&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestItemRecord.DeliveryPlant__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TransportationZoneDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Transportation Zone&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.TransportationZone__r.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UnderdeliveryToleranceDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Underdelivery Tolerance&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestItemRecord.UnderdeliveryTolerance__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShippingSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingConditionDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Shipping Condition&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestItemRecord.ShippingConditions__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MaxPartialDeliveriesDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Max.partial Deliveries&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestItemRecord.MaxPartialDeliveries__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PartialDeliveriesperitemDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Partial Deliveries per item&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestItemRecord.PartialDeliveriesperitem__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OverdeliveryToleranceDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Overdelivery Tolerance&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestItemRecord.OverdeliveryTolerance__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 153, 153);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>BillingDocumentSection</name>
            <fieldText>Billing Document</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BillingDocumentSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountAssignmentGroupDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Assignment Group&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestItemRecord.AccountAssignmentGroup__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BillingDocumentSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TaxClassificationDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Tax Classification&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRequestHeader.TAXClassification__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);&quot;&gt;﻿__________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRequestItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountSoldToName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetRequestItemRecord.Customer__r.CompanyNameENF__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAccountSoldToOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
